.glassContainer {
    position: relative;
    border-radius: 30px;
}

.glassContainer::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    border-radius: 30px;
    overflow: hidden;
    box-shadow:
        inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7),
        inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
}

.glassContainer::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 30px;
    backdrop-filter: blur(0px);
    filter: var(--glass-filter-ref, none);
    overflow: hidden;
    isolation: isolate;
}